<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andronerds.com.contestapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DriveToWinActivity"
            android:label="Drive To Win">
        </activity>
        <activity
            android:name=".MyTripsActivity"
            android:label="My Trips">
        </activity>
        <activity
            android:name=".MyVehicleActivity"
            android:label="My Vehicle">
        </activity>
        <activity
            android:name=".InsuranceInfoActivity"
            android:label="Insurance Info">
        </activity>
        <activity
            android:name=".EmergencyActivity"
            android:label="Emergency">
        </activity>
    </application>

</manifest>
